.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

p {
  border-radius: 50%;
  font-size: 2rem;
  color: rgb(0, 140, 255);
  background-color: rgb(43, 41, 41);
  height: 12rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
